.App {
  height: 100vh;
}

.App .ArchitectureText {
  text-align: center;
  margin: 20px 0px;
}

.Cookie {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Textbox {
  margin-right: 5px;
}

.Text {
  margin-right: 5px;
}

.Checkbox {
  margin-right: 3px;
}

.Alert {
  font-style: italic;
  font-size: 8;
  color: "red";
}

.Banner {
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  background-color: #353A50;
  color: #fff;
}

.Banner a {
  text-decoration: none;
  color: #FF0000;
}

.Banner a:hover {
  color: #FF0000;
}

.Description {
  text-align: center;
  padding-bottom: 10px;
}

.Description img{
  width: 50%;
  display: inline-block;
}

.Header {
  padding: 10px 0;
  text-align: center;
}

.graphql_wrapper {
  height: 100vh;
}
