.App {
  height: 100vh;
}

.App .ArchitectureText {
  text-align: center;
  margin: 20px 0px;
}

.App .GitlabLoginHelp {
  text-align: center;
  margin: 10px 0px;
}

.App .GitlabCredentials {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}


.App .GitlabCredentials .inputElement {
  padding: 10px;
}

.App .GitlabCredentials .usernameInput .label {
  margin-right: 20px;
}

.App .GitlabCredentials .passwordInput .label {
  margin-right: 20px;
}


.App .GitlabCredentials .passwordInput input[disabled] {
  cursor: not-allowed;
  opacity: 1;
}

.App .GitlabCredentials .passwordInput input
, .App .GitlabCredentials .usernameInput input {
  border: 1px solid #eee;
  box-shadow: none;
  height: 30px;
  border-radius: 0;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  background-color: #fff;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.copyButton {
  height: 44px;
  cursor: pointer;
  background-color: #353A50;
  color: white;
  border: none;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all ease 0.1;
  min-width: 90px;
}

.copyButton:hover {
  opacity: 0.8;
}

.Cookie {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Textbox {
  margin-right: 5px;
  width:30%;
}

.Text {
  margin-right: 5px;
}

.Checkbox {
  margin-right: 3px;
}

.Alert {
  font-style: italic;
  font-size: 8;
  color: "red";
}

.Banner {
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  background-color: #353A50;
  color: #fff;
}

.Banner button {
  cursor: pointer;
  margin-left: 5px;
}

.Banner a {
  text-decoration: none;
  color: #FF0000;
}

.Banner a:hover {
  color: #FF0000;
}

.Description {
  text-align: center;
  padding-bottom: 10px;
}

.Description img{
  width: 50%;
  display: inline-block;
}

.Header {
  padding: 10px 0;
  text-align: center;
}

.graphql_wrapper {
  height: 100vh;
}
